body[data-theme='lightTheme'] {
  --primary-color: #03120e;
  --secondary-color: #dda15e;
  --tertiary-color: #bc6c25;
  --text-color: #000000;
  --subtext-color: #283618;
  --background-color: #eef4ed;
  --card-background-color: #e6cba6;
  --scroll-bar-color: #dda15e;
  --box-shadow-color: #bc6c25;
  --box-shadow-hover-color: #dda15e;
  --base-font: 'Roboto', Arial, sans-serif;
  --code-block-bg: #151f28;
  --code-block-var: #ff39a7;
  --code-block-num: #fed703;
  --code-block-fun: #c653ff;
  --code-block-keyword: #2bdcff;
  --code-block-comment: #8292a2;
  --code-block-tkimp: #fd971f;
}

body[data-theme='darkTheme'] {
  --primary-color: #eef4ed;
  --secondary-color: #bc6c25;
  --tertiary-color: #16db65;
  --text-color: #eef4ed;
  --subtext-color: #fefae0;
  --background-color: #03120e;
  --card-background-color: #1a1d1a;
  --scroll-bar-color: #bc6c25;
  --box-shadow-color: #16db65;
  --box-shadow-hover-color: #bc6c25;
  --base-font: 'Roboto', Arial, sans-serif;
  --code-block-bg: #151f28;
  --code-block-var: #ff39a7;
  --code-block-num: #fed703;
  --code-block-fun: #c653ff;
  --code-block-keyword: #2bdcff;
  --code-block-comment: #8292a2;
  --code-block-tkimp: #fd971f;
}
