body[data-theme='lightTheme'] {
  --primary-color: #000000;
  --secondary-color: #fff4d9;
  --tertiary-color: #f2f2f2;
  --text-color: #000000;
  --subtext-color: #555555;
  --background-color: #ffffff;
  --card-background-color: #ffffff;
  --scroll-bar-color: rgba(0, 0, 0, 0.5);
  --box-shadow-color: rgba(0, 0, 0, 0.16);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
  --base-font: 'Roboto', Arial, sans-serif;
  --code-block-bg: #151f28;
  --code-block-var: #ff39a7;
  --code-block-num: #fed703;
  --code-block-fun: #c653ff;
  --code-block-keyword: #2bdcff;
  --code-block-comment: #8292a2;
  --code-block-tkimp: #fd971f;
}

body[data-theme='darkTheme'] {
  --primary-color: #fffcf2;
  --secondary-color: #eb5e28;
  --tertiary-color: #e63946;
  --text-color: #ccc5b9;
  --subtext-color: #fefae0;
  --background-color: #252422;
  --card-background-color: #403d39;
  --scroll-bar-color: rgba(255, 255, 255, 0.5);
  --box-shadow-color: rgba(0, 0, 0, 0.16);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
  --base-font: 'Roboto', Arial, sans-serif;
  --code-block-bg: #151f28;
  --code-block-var: #ff39a7;
  --code-block-num: #fed703;
  --code-block-fun: #c653ff;
  --code-block-keyword: #2bdcff;
  --code-block-comment: #8292a2;
  --code-block-tkimp: #fd971f;
}
