.horizontal-line {
  width: calc(100% - 10em); // Adjust the padding by changing the value here
  height: 15px; // Adjust the line thickness as needed
  background-color: black; // Adjust the line color
  margin: 5rem auto; // Center the line vertically using margin
  box-shadow: 0 2px 4px #eb5e28; /* A different color (blue) */
  // Adjust the shadow as needed
}
